<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Venda seu Zé</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Contato</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Projeto venda seu Zé.</h1>
    <p class="lead">Projeto iniciado como forma avaliativa do 5° período da faculdade de Sistemas de Inforação. Foi avaliado com a nota máxima, mas era apenas o back end com Node.js, então decidi dar uma cara para o projeto.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Começar</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Desenvolvido por <a href="https://www.instagram.com/s.samuuell/" class="text-white">Samuel Diel</a>.</p>
  </footer>
</div>
  </body>
</html>
