<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/menu.css" />
    <title></title>

  </head>
  <body>

    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Seu Zé</strong>
          </a>
        </div>
      </div>
    </header>

    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Venda seu Zé - MENU</h1>
            <p class="lead text-muted"></p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                ><title>Placeholder</title><rect
                    width="100%"
                    height="100%"
                    fill="#55595c"
                  ></rect><text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                  >Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text
                    below as a natural lead-in to additional content. This
                    content is a little bit longer.</p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >View</button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Ir para cima</a>
        </p>
        <p class="mb-1">Samuel Diel. </p>
      </div>
    </footer>
  </body>
</html>